html, body {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 20px;
}

a:hover {
    color: currentcolor;
}

footer {
    background-color: #222;
    color: #DDD;
    height: 120px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

footer p, footer p iframe {
    text-align: center;
}

footer p iframe {
    text-align: center;
    margin: 0 30px 0 30px;
}

.container {
    width: 670px;
    height: 630px;
}

.container .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.thumbnail {
	position: absolute;
}

.thumbnail.hover {
	opacity: 0;
	filter: alpha(opacity=0);
	position: static;	
	
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;	
}

.media-grid a:hover .thumbnail.hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.pudoku {
    text-align: center;
}

.pudoku input[type=text] {
    width: 20px;
    text-align: center;
}