<div class="media-grid">
  <a href="/easy" title="Easy">
    <img class="thumbnail easy normal" src="{{ url_for('static', filename='easy.png') }}">
	<img class="thumbnail hard hover" src="{{ url_for('static', filename='easy-h.png') }}">
  </a>
  <a href="/medium" title="Medium">
    <img class="thumbnail medium normal" src="{{ url_for('static', filename='medium.png') }}">
	<img class="thumbnail hard hover" src="{{ url_for('static', filename='medium-h.png') }}">
  </a>
  <a href="/hard" title="Hard">
    <img class="thumbnail hard normal" src="{{ url_for('static', filename='hard.png') }}">
	<img class="thumbnail hard hover" src="{{ url_for('static', filename='hard-h.png') }}">
  </a>
</div>
